@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Outfit:wght@300;500;700;900&family=Roboto:wght@100;300;500&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: greenyellow;
    --color2: #fff;
    --color3: #000;
    --color4: rgb(123, 206, 0);
    --main-heading-font-size: 3.75rem;
    --body-text: 1.25rem;
    --body-text-hover: 1.5rem;
    --secondary-heading-text: 2rem;
    --section-block-padding: 10.8rem
}

@media only screen and (max-width: 1050px) {
    :root {
        --main-heading-font-size: 2.6rem;
        --body-text: 1rem;
        --secondary-heading-text: 1.5rem;
    }

}

@media only screen and (max-width: 1050px) {
    /* :root {
        --main-heading-font-size: 1.6rem;
        --body-text: 1rem;
    } */
}

@media only screen and (max-height: 750px) {
    :root {
        --main-heading-font-size: 2rem;
        --body-text: 1rem;
    }
}

body {

    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
}

/*HEADER*/
header .primary-nav::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(0, 0, 0);
    z-index: -1;
    opacity: 0.92;
}

header .primary-nav {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    padding-block: .5rem;
    padding-inline: 1.5rem;
    padding-right: 1.8rem;
    /* border: 2px solid red; */
    /* overflow: hidden; */
    position: fixed;
    z-index: 999;
}

header .primary-nav .site-identity {
    display: flex;
    /* justify-content: center; */
    /* border: 2px solid green; */
    height: 100%;
}

header .primary-nav .site-identity>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .primary-nav .site-identity>div img {
    width: 100%;
    min-width: 80px;
    height: 100%;
    object-fit: contain;
}

/*///////////////*/
/*///////////////*/
header .primary-nav .nav-items-container {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
    justify-content: center;
    color: var(--color2);
    list-style: none;
    /* border: 2px solid green; */
}

header .primary-nav .nav-items-container li {
    min-width: 12%;
    /* border: 2px solid red; */
}

header .primary-nav .nav-items-container li a {
    text-decoration: none;
    color: var(--color2);
    font-size: 1.5rem;
    display: block;
    text-align: center;
    transition: all 0.5s ease;
}

header .primary-nav .nav-items-container li a:hover {
    color: gray;
}

/*///////////////*/
/*///////////////*/
header .primary-nav .call-to-action-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 1.2rem;
}

header .primary-nav .call-to-action-btn-container button {
    width: 30%;
    min-width: 120px;
    height: 40px;
    /* border-radius: 16px; */
    border: none;
    background-color: var(--color1);
    cursor: pointer;
}

header .primary-nav .call-to-action-btn-container button p,
header .primary-nav .call-to-action-btn-container button a {
    font-family: 'Roboto', sans-serif;
    font-size: var(--body-text);
    color: var(--color3);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

header .primary-nav .call-to-action-btn-container button p:hover {
    color: gray;
}


header .primary-nav .hamburger-btn {
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;
}

header .primary-nav .hamburger-btn i {
    font-size: 2.5rem;
    vertical-align: middle;
}

header .sideNavBar {
    position: fixed;
    top: 90px;
    right: -100%;
    width: 30%;
    min-width: 270px;
    height: calc(100% - 90px);
    /* border: 2px solid red; */
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 1.2rem;
    padding-block: 2.5rem;
    transition: all .5s ease-in-out;
}

.active {
    /* left: unset !important; */
    right: 0% !important;
}

header .sideNavBar::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgb(0, 0, 0);
    z-index: -999;
    opacity: 0.92;
}

header .sideNavBar .nav-items-container-1 {
    width: 100%;
    /* height: 40%; */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    row-gap: 1rem;
}

header .sideNavBar .nav-items-container-1 li {
    list-style: none;
    /* border: 2px solid red; */
    /* min-width: 60px; */
    min-height: 50px;
    background: var(--color1);
    display: flex;
    align-items: center;
    justify-content: center;
}

header .sideNavBar .nav-items-container-1 li a {
    color: #000;
    font-size: var(--body-text);
    display: block;
    text-decoration: none;
    text-align: center;
    /* padding-block: 0.8rem; */
    transition: all .2s ease;
}

header .sideNavBar .nav-items-container-1 li a:hover {
    font-size: var(--body-text-hover);
}

header .sideNavBar .nav-items-container-2 {
    /* border: 2px solid red; */
    width: 100%;
    padding-block: 2.5rem;
}

header .sideNavBar .nav-items-container-2 li a {
    display: block;
    color: white;
    list-style: none;
    text-align: center;
    padding-block: .3rem;

}

@media only screen and (max-width: 1000px) {
    header .primary-nav {
        grid-template-columns: repeat(2, 1fr);
    }

    header .primary-nav .nav-items-container {
        display: none;
    }

    header .primary-nav .call-to-action-btn-container {
        display: none;
    }

    header .primary-nav .hamburger-btn {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

@media only screen and (max-width: 400px) {
    
}

/*///////////////*/
/*///////////////*/
/*///////////////*/
/*///////////////*/
/*///////////////*/
/*///////////////*/
/*///////////////*/
/*///////////////*/
/*///////////////*/
/*///////////////*/
/*///////////////*/
/*///////////////*/
/*///////////////*/
/*///////////////*/
/*///////////////*/
/*///////////////*/
header #hero-section::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../imge/hero-background.jpg) no-repeat center center/cover;
    z-index: -1;
}

header #hero-section {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    column-gap: 1.2rem;
    align-items: center;
    justify-content: center;
    /* background: #fff; */
    position: relative;
    color: var(--color2);
}

header #hero-section>div {
    /* border: 2px solid red; */
    height: 100%;
}

header #hero-section>div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: .5rem;
    /* padding-top: 10.5rem; */
}

header #hero-section>div:nth-of-type(2) .container {
    /* border: 2px solid red; */
    width: 50%;
    min-width: 280px;
    transform: skew(0deg, -10deg);
    background: var(--color1);
    padding-inline: 1.8rem;
}

header #hero-section>div:nth-of-type(2) .container h2 {
    text-align: center;
    font-size: var(--main-heading-font-size);
    text-transform: uppercase;
    font-weight: 900;
    color: var(--color3);
}

header #hero-section>div:nth-of-type(2) .container p {
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

/* header #hero-section>div:nth-of-type(2) .heading2 {
    background: white;
}
header #hero-section>div:nth-of-type(2) .heading2 h2 {
    color: var(--color4);
} */
header #hero-section>div:nth-of-type(2) .line {
    width: 40%;
    min-width: 240px;
    transform: skew(0deg, -10deg);
    height: 12px;
    background: white;
}

header #hero-section>div:nth-of-type(2) .arrow-down i {
    font-size: 3.5rem;
    color: var(--color1);
    display: block;
}

header #hero-section>div:nth-of-type(2) button {
    width: 15%;
    min-width: 140px;
    font-size: var(--body-text);
    font-weight: bold;
    background-color: var(--color1);
    border: none;
    cursor: pointer;
}

header #hero-section>div:nth-of-type(2) button a {
    text-decoration: none;
    color: var(--color3);
    display: block;
    padding-block: 1rem;
    transition: all .3s ease;
}

header #hero-section>div:nth-of-type(2) button a:hover {
    color: var(--color2);
}

@media only screen and (max-width: 1050px) {
    header #hero-section>div:nth-of-type(2) .arrow-down i {
        font-size: 2.5rem;
    }
}

@media only screen and (max-height: 750px) {
    header #hero-section>div:nth-of-type(2) .arrow-down i {
        font-size: 2.5rem;
    }
}

/*///////////////*/
/*///////////////*/
/*///////////////*/
/*///////////////*/
header #hero-section>div:nth-of-type(3) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

header #hero-section>div:nth-of-type(3) .social-link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    min-width: 70px;
    height: 30%;
    min-height: 200px;
    background-color: greenyellow;
    box-shadow: 10px 5px 20px gray;
}

header #hero-section>div:nth-of-type(3) .social-link-container .icon {
    width: 80%;
    min-width: 50px;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header #hero-section>div:nth-of-type(3) .social-link-container a {
    text-decoration: none;
    cursor: pointer;
}

header #hero-section>div:nth-of-type(3) .social-link-container .icon i {
    color: #000;
    font-size: 2.5rem;

}

header #hero-section>div:nth-of-type(3) .social-link-container .icon i:hover {
    color: #fff;
}

header #hero-section>div:nth-of-type(3) .style {
    width: 29%;
    min-width: 90px;
    height: 35%;
    min-height: 200px;
    background: #fff;
    position: absolute;
    top: 40%;
    transition: all .8s ease;
    z-index: -1;
}

@media only screen and (max-width: 600px) {
    header #hero-section>div:nth-of-type(3) .social-link-container {
        display: none !important;
    }

    header #hero-section>div:nth-of-type(3) .style {
        display: none !important;
    }
}

/*///////////////*/
/*///////////////*/
/*///////////////*/
/*///////////////*/
/*///////////////*/
/*///////////////*/
/*///////////////*/
/*///////////////*/
/*///////////////*/
/*///////////////*/
/*///////////////*/
/*///////////////*/
/*///////////////*/
/*///////////////*/
/*///////////////*/
/*///////////////*/
/*MAIN*/
main #about-section {
    /* border: 2px solid red; */
    width: 100%;
    padding-block: var(--section-block-padding);
    /* background: var(--color3); */
    background: linear-gradient(rgba(49, 49, 49), rgba(37, 37, 37));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

main #about-section>.heading1 {
    width: 70%;
    min-width: 1000px;
    display: block;
    font-size: var(--main-heading-font-size);
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 3.4rem;
    color: var(--color2);
    /* border: 2px solid red; */
}

main #about-section > .content {
    width: 70%;
    min-width: 1000px;
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.2rem;
    padding-bottom: 2.2rem;
    border-bottom: 2px double gray;
}
main #about-section>.heading1, 
main #about-section > .content {
    z-index: 2;
}


main #about-section > .content .box {
    /* border: 2px solid green; */
    color: var(--color2);
    
}

main #about-section > .content .box:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

main #about-section > .content .box:nth-of-type(1) h3 {
    font-size: var(--secondary-heading-text);
    text-transform: uppercase;
    margin-bottom: 1rem;
}

main #about-section > .content .box:nth-of-type(1) h2 {
    display: inline;
    padding-inline: 0.5rem;
    font-size: var(--main-heading-font-size);
    text-transform: uppercase;
    color: var(--color1);
    border: 1px solid var(--color1);
}

main #about-section > .content .box:nth-of-type(1) p {
    padding-block: 2.5rem;
    color: gray;
    font-size: var(--body-text);
    width: 60%;
}

/*.................*/
/*.................*/
/*.................*/
main #about-section > .content .box:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    /* border: 2px solid red; */
}

main #about-section > .content .box:nth-of-type(2) .profile {
    width: 80%;
    max-width: 250px;
    min-width: 100px;
    aspect-ratio: 1 / 1;
    border: 5px solid rgb(48, 48, 48);
    border-radius: 50%;
    overflow: hidden;
}

main #about-section > .content .box:nth-of-type(2) .profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main #about-section > .content .box:nth-of-type(2) h3 {
    padding-block: 0.5rem;
    color: gray;
    font-size: var(--body-text);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

main #about-section > .content .box:nth-of-type(2) h2 {
    color: var(--color2);
    font-size: var(--secondary-heading-text);
    text-align: center;
}

main #about-section > .content .box:nth-of-type(2) .social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
}

main #about-section > .content .box:nth-of-type(2) .social-links a {
    text-decoration: none;
}

main #about-section > .content .box:nth-of-type(2) .social-links a i {
    padding: 0.5rem;
    font-size: 1.5rem;
    transition: all .5s ease;
}

main #about-section > .content .box:nth-of-type(2) .social-links i:hover {
    color: gray !important;
}

main #about-section > .svg-container {
    width: 70%;
}

main #about-section > .svg-container svg {
    width: 30%;
    min-width: 440px;
    z-index: 0;
    padding-bottom: 5.5rem;
}
main #about-section > .svg-container svg path:nth-child(1) {
    stroke-dasharray: 550;
    stroke-dashoffset: 550;
    animation: line-animation 3.8s ease forwards infinite;
}
main #about-section > .svg-container svg path:nth-child(2) {
    stroke-dasharray: 550;
    stroke-dashoffset: 550;
    animation: line-animation 3.8s ease forwards 0.8s infinite;
}
main #about-section > .svg-container svg path:nth-child(3) {
    stroke-dasharray: 642;
    stroke-dashoffset: 642;
    animation: line-animation 3.8s ease forwards 0.8s infinite;
}
main #about-section > .svg-container svg path:nth-child(4) {
    stroke-dasharray: 693;
    stroke-dashoffset: 693;
    animation: line-animation 3.8s ease forwards 0.5s infinite;
}
main #about-section > .svg-container svg path:nth-child(5) {
    stroke-dasharray: 443;
    stroke-dashoffset: 443;
    animation: line-animation 3.8s ease forwards 0.5s infinite;
}
main #about-section > .svg-container svg path:nth-child(6) {
    stroke-dasharray: 284;
    stroke-dashoffset: 284;
    animation: line-animation 3.8s ease forwards 0.5s infinite;
}
main #about-section > .svg-container svg path:nth-child(7) {
    stroke-dasharray: 513;
    stroke-dashoffset: 513;
    animation: line-animation 3.8s ease forwards infinite;
}
main #about-section > .svg-container svg path:nth-child(8) {
    stroke-dasharray: 443;
    stroke-dashoffset: 443;
    animation: line-animation 3.8s ease forwards 0.5s infinite;
}
main #about-section > .svg-container svg path:nth-child(9) {
    stroke-dasharray: 513;
    stroke-dashoffset: 513;
    animation: line-animation 3.8s ease forwards 0.8s infinite;
}
main #about-section > .svg-container svg path:nth-child(10) {
    stroke-dasharray: 284;
    stroke-dashoffset: 284;
    animation: line-animation 3.8s ease forwards 0.8s infinite;
}
main #about-section > .svg-container svg path:nth-child(11) {
    stroke-dasharray: 653;
    stroke-dashoffset: 653;
    animation: line-animation 3.8s ease forwards infinite;
}

main #about-section .amenities {
    width: 70%;
    min-width: 1000px;
    display: grid;
    /* border: 2px solid green; */
    grid-template-columns: 1fr 2fr;
    /* align-items: center; */
    padding-top: 3.5rem;
}


main #about-section .amenities > div:nth-of-type(1) {
    display: flex;
    align-items: center;
    padding-inline: 1.5rem;
}
main #about-section .amenities > div:nth-of-type(1) h3 {
    color: var(--color2);
    font-size: var(--secondary-heading-text);
    /* width: 40%; */
}

main #about-section .amenities .content ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
main #about-section .amenities .content ul li {
    color: var(--color2);
    list-style: none;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-block: 0.5rem;
    user-select: none;
}
main #about-section .amenities .content ul li i {
    color: gray;
    padding-right: 1.5rem;
}
main #about-section .amenities .content ul li span {
    font-size: var(--body-text);
}



@keyframes line-animation {
    to {
        stroke-dashoffset: 0;
    }
}



@media only screen and (max-width: 1050px) {
    :root {
        --main-heading-font-size: 2.5rem;
        --body-text: 1.2rem;
    }

    main #about-section .content ,
    main #about-section .amenities {
        width: 70%;
        min-width: 200px;
    }
    main #about-section .amenities {
        display: flex;
        flex-direction: column ;
        align-items: center;
    }
    main #about-section .amenities > div {
        width: 100%;
    }
    main #about-section .amenities > div:nth-of-type(1) {
        padding-inline: unset;
        padding-bottom: 1.5rem;
    }

    main #about-section>.heading1 {
        width: 70%;
        min-width: 200px;
    }
}

@media only screen and (max-width: 885px) {
    main #about-section .content {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
    }

    main #about-section .content .box:nth-of-type(2) .profile {
        width: 40%;
        max-width: 100px;
        min-width: 100px;
    }

    main #about-section .content .box:nth-of-type(2) h3,
    main #about-section .content .box:nth-of-type(2) h2 {
        text-align: left;
        padding-left: 1rem;
    }

    /* main #about-section .content .box:nth-of-type(2) .info {
        display: flex;
    } */
    main #about-section .content .box:nth-of-type(2) {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }

    main #about-section > .svg-container svg {
        width: 30%;
        min-width: 140px;
    }

}



main #services {
    /* height: 100vh; */
    background: linear-gradient(rgba(37, 37, 37), rgba(49, 49, 49));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main #services .heading h2 {
    color: var(--color2);
    font-size: var(--main-heading-font-size);
    text-align: center;
}
main #services .container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}
main #services .container1 .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    position: relative;
    overflow: hidden;
    transition: all 1.2s ease;
    cursor: pointer;
    padding-block: 1.5rem;
}
main #services .container1 .item::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #0000004b;
    backdrop-filter: blur(2px);
    z-index: 1;
    transition: all 1.2s ease;

}
main #services .container1 .active::after {
    backdrop-filter: blur(0px);
}
main #services .container1 .item:nth-of-type(1)::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../curriculumn-imgs/img-01.jpg) no-repeat center center/cover;
    z-index: 1;
    transition: all 1.2s ease;

}
main #services .container1 .item:nth-of-type(2)::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../curriculumn-imgs/img-02.jpg) no-repeat center center/cover;
    z-index: 1;
    transition: all 1.2s ease;

}
main #services .container1 .item:nth-of-type(3)::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../curriculumn-imgs/img-03.jpg) no-repeat center center/cover;
    z-index: 1;
    transition: all 1.2s ease;

}
main #services .container1 .item:nth-of-type(4)::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../curriculumn-imgs/img-04.jpg) no-repeat center center/cover;
    z-index: 1;
    transition: all 1.2s ease;

}

main #services .container1 .active::before {
    transform: scale(1.2);
}

main #services .container1 .item h3 {
    font-size: var(--secondary-heading-text);
    text-transform: uppercase;
    transition: all 1.2s ease;
    position: relative;
}
main #services .container1 .item h3::before {
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--color3);
    z-index: -1;
    transition: all 1.2s ease;
    
}
main #services .container1 .active h3::before {
    width: 100%;
}
main #services .container1 .item p {
    font-size: var(--body-text);
    font-family: roboto;
    font-weight: 300;
}
main #services .container1 .item h3,
main #services .container1 .item p {
    width: 50%;
    text-align: center;
    color: var(--color2);
    padding-block: 1rem;
    z-index: 2;
}

main #services .container1 .item button {
    width: 30%;
    min-width: 250px;
    background: transparent;
    border: 2px solid gray;
    /* font-size: var(--body-text); */
    color: var(--color2);
    font-weight: 300;
    text-transform: uppercase;
    padding: 0.5rem;
    cursor: pointer;
    z-index: 2;
    position: relative;
}
main #services .container1 .item button::before{
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #303030;
    z-index: -1;
    transition: all 0.6s ease;
}
main #services .container1 .item button:hover::before {
    width: 100%;
}

@media only screen and (max-width: 675px) {
    main #services .container1 {
        grid-template-columns: 1fr;
        height: unset;
    }
    main #services .container1 .item {
        min-height: 50vh;
    }
}
/*.........................*/
/*.........................*/
/*.........................*/
/*.........................*/
/*.........................*/
/*.........................*/
/*.........................*/
/*.........................*/
/*.........................*/
/*.........................*/
/*.........................*/
/*.........................*/
/*.........................*/
/*.........................*/
/*.........................*/
/*.........................*/
main #services .container2 {
    width: 80%;
    /* border: 2px solid red; */
    margin-block: 5.5rem;
}
main #services .container2 > h3 {
    font-family: 'Outfit', sans-serif;
    color: var(--color2);
    text-align: center;
    text-transform: uppercase;
    font-size: var(--secondary-heading-text);
}
main #services .container2  .day-wrapper {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    margin-block: 1rem;
    cursor: pointer;
}
main #services .container2  .day-wrapper .day {
    width: 48%;
    max-width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 2px solid rgb(255, 255, 255);
    color: var(--color2);
}
main #services .container2  .day-wrapper .active {
    border-color: #414141;
}
main #services .container2  .day-wrapper .day::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--color1);
    z-index: 1;
}
main #services .container2  .day-wrapper .active::before {
    width: 100%;
}
main #services .container2  .day-wrapper .day span {
    /* color: var(--color2); */
    text-transform: uppercase;
    z-index: 2;
}
main #services .container2  .day-wrapper .active span {
    color: #000;
}
main #services .container2 .class-wrapper {
    /* border: 2px solid green; */
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}
main #services .container2 .class-wrapper .class {
    display: grid;
    grid-template-columns: 1fr 6fr;
    background: #00000057;
}
main #services .container2 .class-wrapper .class > div {
    /* border: 2px solid red; */
    padding-block: 1.2rem;
}
main #services .container2 .class-wrapper .class .class-index-container {
    color: var(--color2);
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-inline: 1.5rem;
}
main #services .container2 .class-wrapper .class .class-index-container span,
main #services .container2 .class-wrapper .class .class-index-container h3 {
    text-transform: uppercase;
    font-weight: bold;
}
main #services .container2 .class-wrapper .class .class-index-container span {
    font-size: var(--body-text);
}
main #services .container2 .class-wrapper .class .class-index-container h3 {
    font-size: var(--secondary-heading-text);
}
/*................*/
/*................*/
/*................*/
main #services .container2 .class-wrapper .class .class-info-container {
    /* border: 2px solid green !important; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* align-items: center; */
    justify-content: space-around;
}
main #services .container2 .class-wrapper .class .class-info-container > div {
    /* border:  2px solid yellow; */
    padding-inline: 10%;
}
main #services .container2 .class-wrapper .class .class-info-container > div span {
    display: flex;
    align-items: center;
    width: 100%;
    color: white;
    /* border:  1px solid blue; */
    /* overflow: hidden; */
    color: gray;
    font-size: var(--body-text);
    text-transform: uppercase;
}
main #services .container2 .class-wrapper .class .class-info-container > div span svg {
    fill: var(--color1);
    width: 15%;
    min-width: 30px;
    aspect-ratio: 1 / 1;
    padding-right: 0.5rem;
}
main #services .container2 .class-wrapper .class .class-info-container > div h3  {
    color: white;
    font-size: var(--body-text-hover);
    text-transform: uppercase;

}
main #services .container2 .class-wrapper .class .class-info-container > div {
    display: flex;
    flex-direction: column;
}
main #services .container2 .class-wrapper .class .class-info-container > div:nth-of-type(4) {
    justify-content: center;
    align-items: center;
}
main #services .container2 .class-wrapper .class .class-info-container > div:nth-of-type(4) button {
    width: 100%;
    max-width: 160px;
    height: 40px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

@media only screen and (max-width: 555px) {
    main #services .container2 .class-wrapper .class .class-info-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    main #services .container2 .class-wrapper .class {
        display: flex;
        flex-direction: column;
    }
    main #services .container2 .class-wrapper .class .class-info-container > div span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        color: white;
        color: gray;
        font-size: var(--body-text);
        text-transform: uppercase;
    }
    main #services .container2 .class-wrapper .class .class-info-container > div h3 {
        color: white;
        font-size: var(--body-text-hover);
        text-transform: uppercase;
        text-align: center;
    }
    main #services .container2 .class-wrapper .class .class-info-container > div span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        color: white;
        color: gray;
        font-size: var(--body-text);
        text-transform: uppercase;
        flex-direction: row;
        margin-inline: auto;
    }
    main #services .container2 .class-wrapper .class .class-info-container > div:nth-of-type(4) button {
        min-width: 120px;
    }
}
/*.................*/
/*.................*/
/*.................*/
/*.................*/
/*.................*/
/*.................*/
/*.................*/
/*.................*/
/*.................*/
main #services .container3  {
    width: 100%;
    padding-block: 3.5rem;
    overflow-x: auto;
    /* border: 2px solid red; */
    background-color: rgb(224, 224, 224);
}
main #services .container3 h2 {
    font-size: var(--main-heading-font-size);
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color3);
}

main #services .container3 table {
    /* border: 2px solid red; */
    margin-inline: auto;
    border-collapse: collapse;
}
main #services .container3 .table-container {
    overflow: auto;
}

main #services .container3 table td, 
main #services .container3 table th {
    padding: 1.5rem;
    font-size: var(--body-text);
    border: 0.5px solid gray;
    text-align: center;
    background-color: #424242;
    color: white;
    cursor: pointer;
}
main #services .container3 table  th {
    /* background: var(--color1); */
    background-color: #313131;
}
main #services .container3 table tbody tr:nth-child(even) td:nth-child(odd),
main #services .container3 table tbody tr:nth-child(odd) td:nth-child(even)
{
    background-color: #1d1d1d;
}

main #services .container3 table tbody td:hover {
    background-color: var(--color1) !important;
    color: var(--color3);
}




@media only screen and (max-width: 1100px) {
    main #services .container2 .class-wrapper .class .class-info-container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 0.5rem;
    }
    main #services .container2 .class-wrapper .class .class-info-container > div:nth-of-type(4) {
        align-items: flex-start;
    }
}
@media only screen and (max-width: 600px) {
   
}
main #gym-joining {
    /* height: 100vh; */
    background: linear-gradient(rgba(49, 49, 49), rgba(37, 37, 37));
}

main #gym-joining h3 {
    font-size: var(--main-heading-font-size);
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color2);
    padding: 2rem;
}
main #gym-joining form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main #gym-joining form fieldset {
    width: 60%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.6rem;
    gap: 1rem;
    /* border-color: rgba(128, 128, 128, 0.356); */
    border: none;
}
main #gym-joining form fieldset > label,
main #gym-joining form fieldset > div {
    /* border: 2px solid red; */
    /* display: block; */
    /* width: 80%; */
    display: flex;
    justify-content: center;
    column-gap: 2rem;
  
}
main #gym-joining form fieldset label > span,
main #gym-joining form fieldset > div > span {
    color: var(--color2);
    font-weight: 300;
    text-transform: capitalize;
    min-width: 130px;
}
main #gym-joining form fieldset > label > span::after,
main #gym-joining form fieldset > div > span::after {
    content: ' *';
    color: red;
}
main #gym-joining form fieldset > label > input{
    /* border: 2px solid yellow; */
    min-width: 300px;
    min-height: 35px;
    text-align: center;
    outline: none;
    background-color: #181818;
    color: var(--color2);
}
main #gym-joining form fieldset > div > div,
main #gym-joining form fieldset > div > select {
    min-width: 300px;
    min-height: 35px;
    display: flex;
    column-gap: 1.5rem;
}
main #gym-joining form input[type='submit'] {
    margin: 1.5rem;
    min-width: 200px;
    min-height: 30px;
    cursor: pointer;
}

@media only screen and (max-width: 510px) {
    main #gym-joining form fieldset > label, main #gym-joining form fieldset > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        column-gap: 2rem;
    }
    main #gym-joining form fieldset > label > input {
        /* border: 2px solid yellow; */
        min-width: 100px;
    } 
    main #gym-joining form fieldset > div > div, main #gym-joining form fieldset > div > select {
        min-width: 100px;
    }

}
/*.................*/
/*.................*/
/*.................*/
/*.................*/
/*.................*/
/*.................*/
/*.................*/
/*.................*/
/*.................*/
footer {
    background: linear-gradient(rgba(37, 37, 37), rgba(49, 49, 49));
}
footer #contact {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    
}
footer #contact > div {
    /* border: 2px solid red; */
    display: flex;
    padding: 1.5rem;
    padding-inline: 1.5rem;
    flex-direction: column;
    /* align-items: flex-s; */
    justify-content: space-evenly;
    /* padding-inline: 1.5rem; */
}
footer #contact > div:nth-child(1) {
    padding-inline: 3.5rem;
}
footer #contact > div:nth-child(1) h3 {
    color: var(--color2);
    font-size: var(--main-heading-font-size);
}
footer #contact > div:nth-child(1) svg {
    width: 60%;
    min-width: 250px;
}
footer #contact > div:nth-child(1) svg path:nth-child(12) {
    stroke-dasharray: 261.999px;
    stroke-dashoffset: 261.999px;
    animation: line-animation 3.8s ease forwards infinite 0.3s;
}
footer #contact > div:nth-child(1) svg path:nth-child(11) {
    stroke-dasharray: 369.554px;
    stroke-dashoffset: 369.554px;
    animation: line-animation 3.8s ease forwards infinite 0.3s;
}
footer #contact > div:nth-child(1) svg path:nth-child(10) {
    stroke-dasharray: 355.842px;
    stroke-dashoffset: 355.842px;
    animation: line-animation 3.8s ease forwards infinite 0.5s;
}
footer #contact > div:nth-child(1) svg path:nth-child(9) {
    stroke-dasharray: 340.799px;
    stroke-dashoffset: 340.799px;
    animation: line-animation 3.8s ease forwards infinite 0.5s;
}
footer #contact > div:nth-child(1) svg path:nth-child(8) {
    stroke-dasharray: 358.583px;
    stroke-dashoffset: 358.583px;
    animation: line-animation 3.8s ease forwards infinite 0.3s;
}
footer #contact > div:nth-child(1) svg path:nth-child(7) {
    stroke-dasharray: 262px;
    stroke-dashoffset: 262px;
    animation: line-animation 3.8s ease forwards infinite 0.3s;
}
footer #contact > div:nth-child(1) svg path:nth-child(6) {
    stroke-dasharray: 369.554px;
    stroke-dashoffset: 369.554px;
    animation: line-animation 3.8s ease forwards infinite 0.5s;
}
footer #contact > div:nth-child(1) svg path:nth-child(5) {
    stroke-dasharray: 340.799px;
    stroke-dashoffset: 340.799px;
    animation: line-animation 3.8s ease forwards infinite 0.5s;
}
footer #contact > div:nth-child(1) svg path:nth-child(4) {
    stroke-dasharray: 408.779px;
    stroke-dashoffset: 408.779px;
    animation: line-animation 3.8s ease forwards infinite 0.3s;
}
footer #contact > div:nth-child(1) svg path:nth-child(3) {
    stroke-dasharray: 441.019px;
    stroke-dashoffset: 441.019px;
    animation: line-animation 3.8s ease forwards infinite 0.3s;
}
footer #contact > div:nth-child(1) svg path:nth-child(2) {
    stroke-dasharray: 262px;
    stroke-dashoffset: 262px;
    animation: line-animation 3.8s ease forwards infinite 0.5s;
}
footer #contact > div:nth-child(1) svg path:nth-child(1) {
    stroke-dasharray: 392.199px;
    stroke-dashoffset: 392.199px;
    animation: line-animation 3.8s ease forwards infinite 0.5s;
}

footer #contact > div:nth-child(2) {
    align-items: center;
}
footer #contact > div:nth-child(2) div {
    width: 50%;
    display: flex;
    flex-direction: column;
}
footer #contact > div:nth-child(2) div h3 {
    color: var(--color1);
    font-size: var(--body-text-hover);
    text-transform: uppercase;
}
footer #contact > div:nth-child(2) div:nth-child(1) p {
    color: var(--color2);
    font-size: var(--secondary-heading-text);
}
footer #contact > div:nth-child(2) div a {
    text-decoration: none;
    color: var(--color2);
    font-size: var(--body-text);
}

footer .end {
    color: var(--color2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #222222;
}
footer .end span {
    font-size: var(--body-text);
    text-align: center;
}
footer .end span a {
    color: var(--color1);
    text-decoration: none;
}

@media only screen and (max-width: 1000px) {
    footer #contact > div:nth-child(1) h3 {
        color: var(--color2);
        font-size: var(--main-heading-font-size);
        text-align: center;
    }
    footer #contact > div:nth-child(2) div:nth-child(1) p {
        text-align: center;
        color: var(--color2);
        font-size: var(--secondary-heading-text);
    }
    footer #contact {
        /* width: 80%;
        margin: auto;
        display: grid; */
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        width: 100%;
        
    }
    footer #contact > div {
        /* border: 2px solid red; */
        align-items: center;
        
    }
    footer #contact > div:nth-child(2) div a {
        text-align: center;
    }
    footer #contact > div:nth-child(2) {
        gap: 1.5rem;
    }
    footer #contact > div  > div {
        align-items: center;
    }
    footer #contact > div:nth-child(2) div {
        width: 75%;
        display: flex;
        flex-direction: column;
    }
}





@media only screen and (max-width: 400px) {
    main #services .container3 {
        width: 100%;
        padding-block: 3.5rem;
        padding-inline: 1rem;
        overflow-x: auto;
        /* border: 2px solid red; */
        background-color: rgb(224, 224, 224);
    }
    main #about-section .amenities .content ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    main #about-section .content .box:nth-of-type(2) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    main #about-section > .content .box:nth-of-type(2) .social-links {
        display: flex;
        align-items: center;
        justify-content: left;
        margin: 0.5rem;
    }
    header #hero-section {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 1.2rem;
        align-items: center;
        justify-content: center;
        /* background: #fff; */
        position: relative;
        color: var(--color2);
    }
    header #hero-section>div:nth-of-type(2) .container {
        /* border: 2px solid red; */
        width: 50%;
        min-width: 168px;
        transform: skew(0deg, -10deg);
        background: var(--color1);
        padding-inline: 1.8rem;
    }
    header #hero-section>div:nth-of-type(2) .line {
        min-width: 168px;
    }
    header .sideNavBar {
        position: fixed;
        top: 90px;
        right: -100%;
        width: 30%;
        min-width: 200px;
        height: calc(100% - 90px);
        /* border: 2px solid red; */
        z-index: 999;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-inline: 1.2rem;
        padding-block: 2.5rem;
        transition: all .5s ease-in-out;
    }

    main #services .container1 .item button {
        width: 30%;
        min-width: 147px;
        background: transparent;
        border: 2px solid gray;
        /* font-size: var(--body-text); */
        color: var(--color2);
        font-weight: 300;
        text-transform: uppercase;
        padding: 0.5rem;
        
        cursor: pointer;
        z-index: 2;
        position: relative;
    }
    main #services .container2 {
        width: 98%;
        /* border: 2px solid red; */
        margin-block: 5.5rem;
    }
    main #services .container2  .day-wrapper {
        /* border: 2px solid red; */
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 1rem;
        margin-block: 1rem;
        cursor: pointer;
        padding-inline: 0.8rem;
    }
}


.bin {
    height: 100vh;
}

.hidden {
    display: none !important;
}
